{% extends "base.html" %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-8'>
            {% for post in post_list %}
            <div class='card'>
                <div class='card-body'>
                    <h2 class='card-title'>{{ post.title }}</h2>
                    <p class='card-text'>{{ post.date_posted }}</p>
                    <p class='card-text'>{{ post.content | slice:":200" }}</p>
                    <a href="{% url 'detail' post.slug %}" class='btn'>Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>   
{% endblock content %}
